@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&display=swap');

.story section h2{
   border-block-end: 4px solid orange;
   margin-top: 20px;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.story section p{
   font-family: "Edu AU VIC WA NT Hand", cursive;

}